/* ------------------***---------------------*/
/*             CSS de Youssef AHM            */
/*-------------------------------------------*/

header{
    text-align: center;
}
/* DIV no es SEO */
.bannerfondo{
    width: 400%;
    height: 400px;
    color: white;

    background-color: red;
    background-image: url('../img/desktop/perro.jpg');
    background-repeat: no-repeat;

     /* mejor resolucion en la caja de arriba: ajuste con COVER.CONTAIN contiene si o si la imgen en su totalidad, y se le añade no-repeat despues de url, solo aparece una vez.*/
    background-size: cover;
    background-position: center;

    /* si es BLOCK podemos utilizar MARGIN */
    margin: 0 auto;
}

/* IMG si es SEO */
/* SE ACONSEJA solo poner width o height, NO los dos */
.bannermarca{
    width: 400px;
    
}

h1.bannerfondo__titulo {
    text-align: right;
}