/* ------------------***---------------------*/
/*             CSS de Youssef AHM            */
/*-------------------------------------------*/

/* Antes de todo, se recomienda especificar mas las etiquetas, no poner un estilo general para todas las posibles etiquetas- Tambien hay que hacer posible la reutilizacion de los css.
Cuanto mas se especifica una etiqueta, gana esa para la realizacion de un estilo */

/* definicion de un boton y concretando que boton es con la #, ya que es un id */

a#boton{
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; */
    /* esto es lo mismo que lo de arriba se llama shorthand */
    padding: 10px 20px 10px 20px;
    /* Todos los lados del cuadrado tendran esta medida*/
    padding: 10px;

    /* o tambien, de esta manera medida arriba-abajo/ izquierda-derecha */
    padding: 10px 20px;
    background-color: violet;
    /* dar curva a las esquinas */
    border-radius: 5px;
    border: 1px solid rgb(73, 1, 73);

    margin-bottom: 50px;
    display: inline-block;
}
/* opciones para especificar una etiqueta concreta:div.nombredeDIV, anteriormente hay que nombrar la class de div*/
div.cajaroja, div.cajaazul{
    width: 300px;
    height: 300px;
    background-color: red;
    border: 3px solid black;
    /* para alejar las cajas, se pone margin */
    /*margin-top: 50px;*/
    /* propiedad nativa, para comportarse como bloque */
    /* display: block; */
    /* cambiar la propiedad nativa  */
    /* display: inline-block; */
}

div.cajaazul{
    background-color: blue;   
}

.cajaroja{
   height: 200px; 
}
.cajaroja__texto{
    font-size: 14px;
}

.cajaroja__texto__negrita{
    font-weight: 900;
}

/* Nuevo ejemplo, pero en BEM  */

/* caracteristicas de estilo para MENU PRINCIPAL */
.menu-principal {
    float: right;
    /* dashed: linea discontinua */
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

/* a las A hay darle forma de forma implicita*/
.menu-principal__item01,
.menu-principal__item02,
.menu-principal__item03,
.menu-principal__item04{
    color:black;
    /* eliminar subrayado del texto o linea inferior */
    text-decoration: none;

    margin-left: 5px;
    margin-right: 5px;
     }
.menu-principal__item01{
    color: red;
    font-weight: bolder;
}

/* Creacion de un "ROLLOVER" en el menu con la psuedoclase HOVER */
/* al navegar sobre estos items del menu, se pasan de negro a rojp */
.menu-principal__item01:hover,
.menu-principal__item02:hover,
.menu-principal__item03:hover,
.menu-principal__item04:hover {
    color:red;
}

/* al clickar sobre el item y volver atras, se pone de negro, no de otro color.  */
.menu-principal__item02:visited,
.menu-principal__item02:visited,
.menu-principal__item03:visited,
.menu-principal__item04:visited {
    color:black;
}

.menu-principal__item01--off,
.menu-principal__item02--off
.menu-principal__item03--off
.menu-principal__item04--off{
    color:red;
    font-weight: bolder;
}
