/* ------------------***---------------------*/
/*             CSS de Youssef AHM            */
/*-------------------------------------------*/





/* CSS index.html */
/* propiedades generales de la pagina entera */
html{
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: green;
}

/* propiedades de la foto de fondo */
.sliderprincipal{
    background-image: url('../img/desktop/montanas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   

} 


/* para poner a la misma altura el boton definimos u */
.sliderprincipal__texto{
    padding: 200px 0px;
    text-align: right;
    width: 70%;
   
}


/* propiedades del titulo grande que sale sobre la foto */
.sliderprincipal__texto__titulo{
    font-size: 150px;
    font-family: 'Arial Black';
    color: white;
    text-transform: uppercase;
    /* resetear el margin que viene de normalize.css */
    margin: 0px;
    /* separar el titulo del boton */
    margin-bottom: 10px;
}

/* propiedades del boton  que sale debajo del titulo grande */
.sliderprincipal__texto__boton{
    color:green;
    border: 1px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;   
}

header{
    padding-bottom: 2%;
}
/* ------- lo de abajo de banner--------------- */
 .paginaprincipal{
     padding: 0px;
    position: relative;
}

.articulos__fondo{
    width: 100%;
    height: 2000px;
    /* aplicar filtro a la foto */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
}
.articulos__paragrafoarriba{
    background-color: white;
    text-align: justify;
    padding: 3%;
    box-sizing: border-box;

    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 10;

    width: 45%;
    height: 45%;

    overflow-y: scroll;
}

.articulos__paragrafoabajo{
    background-color: white;
    text-align: justify;
    padding: 3%;
    box-sizing: border-box;

    position: absolute;
    top: 50;
    bottom: 5%;
    right: 5%;
    z-index: 10;
    width: 45%;
    height: 45%; 
}

/* --------------estilos propiedades de la segonda pagina-------------------- */
section {
    padding: 50px;
}

.fotomontana01{
    width: 45%; 
    /* float: left;
    margin-right: 50px;    */
}

.paragrafo__derecha{
    width: 45%;
    display: inline-block;
    /* float: right; */
    margin: 0px 0px 50px 5%;
    /* border: 0px 20px; */
    vertical-align: top;
}

.paragrafo__abajo{
    margin-top: 25px;
    /* clear: both;
    margin: 20px 0px;
    padding: 20px 0px; */
}

.seccion {
    padding: 25px 0px;
}

.fotomontana03 {
    width: 100%;
} 

.articulos__descripcion1 {
    padding: 50px;
}

.fotomontana04{
    width: 100%;
} 

.articulos__descripcion2 {
    padding: 50px;
    column-count:2;
    column-gap:40px;
}
