/* ------------------***---------------------*/
/*             CSS de Youssef AHM            */
/*-------------------------------------------*/
/* CSS index.html */
/* propiedades generales de la pagina entera */
html{
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: green;
}

/* propiedades de la foto de fondo */
.sliderprincipal{
    background-image: url('../img/desktop/montanas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   

} 


/* para poner a la misma altura el boton definimos u */
.sliderprincipal__texto{
    padding: 200px 0px;
    text-align: right;
    width: 70%;
   
}


/* propiedades del titulo grande que sale sobre la foto */
.sliderprincipal__texto__titulo{
    font-size: 150px;
    font-family: 'Arial Black';
    color: white;
    text-transform: uppercase;
    /* resetear el margin que viene de normalize.css */
    margin: 0px;
    /* separar el titulo del boton */
    margin-bottom: 10px;
}

/* propiedades del boton  que sale debajo del titulo grande */
.sliderprincipal__texto__boton{
    color:green;
    border: 1px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;   
}

/* --------------estilos propiedades de la segonda pagina-------------------- */
section {
    padding: 40px;
}

.fotomontana{
    width: 800px; 
    float: left;
    margin-right: 50px;   
}

.paragrafo__derecha{
    margin: 0px 20px;
    border: 0px 20px;
    /* padding: 0px 20px; */
}

.paragrafo__abajo{
    clear: both;
    margin: 20px 0px;
    padding: 20px 0px;

}


